
/* below nav section css */

.navbar-brand, footer{
    background-color: rgb(177, 121, 121);
}

.nav-link {
    margin: 7px;
}

/* end of nav css*/



main, html {
    background-color: rgb(166, 229, 245);
}


/* below header */

header {

    font-size: 25px;

    color: rgb(177, 121, 121);

    font-weight: bold;
}



.col-6 {
    margin-bottom: 40px;

}


.card-text, h3 {
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
}

.btn-sm, .social-media {
    background-color: orange;
}




.card {
    background-color: rgb(177, 121, 121);
    color: #000;
}


.nav-item {
    background-color: rgb(177, 121, 121);
}



hr {
    background-color: purple;
}




/* below media queries */

@media only screen and (min-width: 320px) and (max-width: 1024px) {

p {
    font-size: 20px;
}

}



@media only screen and (min-width:280px) and (orientation: portrait) {

p {
    font-size: 20px;
}

.col-6 {
    margin-right: 10px;
}

}
